  <div class="row">
    <div class="row registr">
    <div class="twelve columns">
      <h2>The Registration App</h2>
    </div>
    </div>
<br>
    <div class="row">
      <div class="six columns">
         Reg Number :
        <input type="text" class="userName" name="name" placeholder="enter registration number" value="{{enterInput}}" onkeydown="Check(this);" onkeyup="Check(this);">
        <script>
          function Check(me) {
            me.value = me.value.replace(/[0-9]/g, "");
          }
        </script>
      </div>
      
      <div class="six columns">
        City: 
        <select>
          <option value="volvo">Cape Town</option>
          <option value="saab">Johannesburg</option>
          <option value="opel">Durban</option>
          <option value="audi">Bisho</option>
        </select>
      </div>
    </div>
  </div>

