  <div class="row">
    <div class="row registr">
    <div class="twelve columns">
      <h2>The Registration App</h2>
      <!-- <img src="images/plates.png" alt=""> -->
    </div>
    </div>
<br>
    <div class="row">
      <div class="six columns">
         Reg Number :
        <input type="text" class="userName" name="name" placeholder="enter registration number" value="{{enterInput}}" onkeydown="Check(this);" onkeyup="Check(this);">
        <script>
          function Check(me) {
            me.value = me.value.replace(g, "");
          }
        </script>
      </div>

      <div class="six columns">
        City:
        <select>
          <option value="volvo">Cape Town</option>
          <option value="saab">Johannesburg</option>
          <option value="opel">Durban</option>
          <option value="audi">Bisho</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <button class="addbtn" id="addbtn" type="submit" name="addReg" value="{{added}}">Add Reg</button>
        <button class="resetbtn" id="resetbtn" type="submit" name="rmReg" value="{{delete}}">Remove Reg</button>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns"></div>
      <div class="displayReg">{{#if messages.info}}{{messages.info}}{{/if}}</div>
    </div>
  </div>
