* {
  margin: auto;
  width: auto;
}
.registr{
    background-color: #f4b942;
    margin-top: 5%;
}
/* .registr img{
  padding-left: 50%;
} */

h2 {
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 2%;
}
.addbtn{
  background-color: #f4b942;
}
.resetbtn{
  background-color: #f4b942;
}
